<!doctype html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8" />
	<title>פתן</title>
    <style type="text/css">
        textarea { border: none; }
        body {
            margin: 0;
            margin: 100px;
            direction: rtl;
        }
        .rtl-text { direction: rtl; }
        .ltr-text { direction: ltr; }
        .peten-area { 
            background-color: #eeffee;
        }
        .python-area { 
            background-color: #ffeeee;
        }
        .output-area { 
            background-color: #eeeeff;
        }
        .hide { display: none; }
    </style>
    <script>        
    function convertCode(){
        document.getElementById("submitMode").value="convert";
        document.getElementById("myForm").submit(); 
    }
    function executeCode(){
        document.getElementById("submitMode").value="execute";
        document.getElementById("myForm").submit(); 
    }
    </script>
</head>
<body>
<h1>פתן</h1>
<form  id="myForm" action="/" method="post">
<table width="100%"><tr>
<td width="50%" class="peten-area">
    {% csrf_token %}
    <textarea id="petenText" class="rtl-text peten-area" rows ="25" cols="70" name="petenText">
    {{ peten_text }}
    </textarea> 
<td width="50%" class="python-area"><textarea id="pythonText" class="ltr-text python-area" rows ="25" cols="70" name="pythonText">
    {{ python_text }}
    </textarea></td>
</tr><tr>
    <td width="100%" colspan="2" class="output-area">
    <!--textarea id="pythonText" class="rtl-text"  cols="145" rows ="5" name="outputText"-->
{{ output_text }}
    <!--/textarea></td-->
</tr></table>
<div class="convert" onClick="convertCode();">לעבד</div>
<div class="execute" onClick="executeCode();">להריץ</div>
<textarea id="submitMode" name="submitMode" cols="1" rows="1" class="hide">{{ submit_mode }}</textarea>
</form>
</body>
</html>
